# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.nombre_del_entorno/
# macOS
.DS_Store


# Linux
*.swp

# Audio output files
*.wav

# Logs or debug
*.log

# Python packages
*.egg
*.egg-info/
dist/
build/

# IDEs
.vscode/
.idea/

# Test / temp files
*.tmp
*.bak
*.old
